<div class="hero-unit" id="back">	
	<ul class="media-grid">
		<div class="row">
			<%@pictures.each do |pic|%>
				<div class="span4">
			    	 	<li>
						<a href="<%= pic.image_url %>"><%= image_tag pic.image_url(:thumb)%></a>
					</li>
				</div>
			<%end%>
		  </div>
	</ul>
</div>

<%= render "upload"%>