<div class="hero-unit">
  <%= simple_form_for @post, :wrapper => :inline do |f|%>
    <%= f.input :title%>
    <%= f.input :content, :input_html => { :class => "content_css" }%>
    <div class="actions">
    <%= f.submit "Done",  :class => "btn primary"%>
    </div>
  <% end -%>

</div>